
body {
    background-color:#76b852
}

.cuadro {
    
  display: inline-block;            
  width: 360px; 
  background: white;
  box-sizing: border-box; 
  padding: 45px;
  margin: 0 auto;
  margin-left: 400px;
  margin-top: 150px;
  
}

.comun {

        width: 100%;
        height: 46px;
        box-sizing: border-box;
}

.input {

             background: #f2f2f2;
             margin-bottom: 15px;
}

.button {  
    
  background-color: #4CAF50;
    color: white;       
}

